<div class="login-bg">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="login">
          <h1><img src="" width="150" class="img-center"></h1>
          <div class="clear pad-10"></div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">

              <div class="text-center">
                <h5 class="text-center">Page Not Found</h5>
                <div class="clear pad-20"></div>
                <div class="pull-right" style="padding-right:20px;">
                  <a routerLink="/login" class="btn btn-lg btn-primary" style="margin-right: 5px">Login</a>
                  <a routerLink="/register" class="btn btn-lg btn-primary">Register</a>

                </div>
                <div class="clear pad-50"></div>


              </div>
            </div>
          </div>
          <div class="clear pad-10"></div>
        </div>
      </div>
    </div>
  </div>






