<br>
<br>



<section id="contact" class="section-bg">
                <div class="col-md-12">
      <div class="form">
        <form novalidate #f="ngForm" (ngSubmit)="onSubmit()">
            
              
                <div class="container">
                    <div class="card mb-4">

              <div class="card-body">
               <div class="section-header">
                <h3>Add Category</h3>
                <p>Please enter below all information related to category</p>
              </div>
              <div class="row">
                <div  *ngIf="SuccessMessage.length>0" class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  {{SuccessMessage}}
              </div>
              <div  *ngIf="ErrorMessage.length>0" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ErrorMessage}}
            </div>
              </div>
                  <div class="row">
                   
                
                    <div class="form-group col-md-12">
                      <input type="text" name='Title'  class="form-control" id="Title" placeholder="Enter Title" 
                      [(ngModel)]="category.id"
                      required #id="ngModel"
                      required />
                    </div>
                    <div class="form-group col-md-12">


                      <div class="box card">
                        <label>
                          <input
                            type="file"
                            class="text-nowrap text-truncate dropify"
                            (change)="selectFile($event)"
                          />
                        </label>
                        <br>
                        <button
                          class="btn btn-info btn-sm"
                          [disabled]="!selectedFiles"
                          (click)="upload()"
                        >
                          Upload
                        </button>
                      
                        <div *ngIf="currentFileUpload" class="progress mt-2">
                          <div
                            class="progress-bar progress-bar-striped"
                            role="progressbar"
                            attr.aria-valuenow="{{ percentage }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            [ngStyle]="{ width: percentage + '%' }"
                            [ngClass]="{
                          'bg-success': percentage > 70,
                          'bg-info': percentage > 40 && percentage < 70,
                          'bg-warning': percentage > 20 && percentage < 40,
                          'bg-danger': percentage > 0 && percentage < 20
                          }"
                          >
                            {{ percentage }}%
                          </div>
                        </div>
                      
                      </div>
                      </div>
                
                  <div class="text-center"><button type="submit" class="btn btn-primary">Submit</button></div>
                  </div>
                </div>
            </div>
        </div>
        
        </form>
      </div> 


 

</div>
</section>
